header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 10px;

    position: sticky;
    top: 0;
    z-index: 20;

    background-color: transparent;
    // background-color: $main-clr2;
    padding: 10px $layoutPadding;

    .logo {
        display: flex;
        align-items: center;

        h1 {
            font-size: 40px;
        }
    }

    a {
        margin-inline-start: 2em;
    }

    nav .active {
        color: $clr1;
    }

    img {
        width: 50px;
    }
}