.todo-list {

    padding-right: 10px;
    height: 380px;
    overflow-y:scroll;
    
    ::-webkit-scrollbar {
        height: 12px;
        width: 5px;
        background: $clr2;
    }
    
    ::-webkit-scrollbar-thumb {
        background: $clr1;
        -webkit-border-radius: 1ex;
    }
    
    ::-webkit-scrollbar-corner {
        background: $bg-clr1;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

.main-todo-content{
    text-align: left;
    background-color: aliceblue;
    color: $bg-clr1;
    padding: 20px;
    margin: 20px auto;
    border-radius: 0.3rem;
    width: fit-content;

}