@font-face {
    font-family: ProductSansRegular;
    src: url(../../font/ProductSansRegular.ttf);
}
@font-face {
    font-family: ProductSansBold;
    src: url(../../font/ProductSans-Bold.ttf);
}
@font-face {
    font-family: AdriaDeco;
    src: url(../../font/AdriaDeco.ttf);
}